---
layout: default
title: Arguably
---

<div id="home">
  <div style="padding-left:0.25em; padding-right:0.25em;">
    <pre style="background-color:black;color:green;">I spent the summer of 2018 in NYC, studying at the <a style="color:lightgreen;" href="https://recurse.com">Recurse Center</a>.

<a href="https://recurse.henrystanley.com" style="color:lightgreen;">Show all RC posts →</a></pre>
  </div>

  <ul class="posts">
      {% for post in site.posts %}
        {% if post.categories.size == 0 %}
          <li><span>{{ post.date | date_to_string }} &raquo; </span><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
  </ul>
</div>
