---
layout: default
title: Arguably
---

<div id="home">
  <ul class="posts grey">
    {% assign latest = site.posts[0] %}
    <h2>Latest</h2>
    <li><span>{{ latest.date | date_to_string }}</span> &raquo; <a href="{{ latest.url }}">{{ latest.title }}</a></li>
  </ul>

  <ul class="posts">
    {% for tag in site.categories %}
      {% assign category = tag[0] %}
      <h2>{{ tag[0] | capitalize }}</h2>

      {% for post in site.posts %}
        {% if post.categories contains tag[0] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <!-- <ul class="posts"> -->
    <h3><a href="archive">The rest →</a></h3>
  <!-- </ul> -->
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
</div>
