ul.posts {
  list-style: none;
  padding-left: 0;
}

ul.posts span {
  font-family: "Inconsolata", monospace;
  color: gray;
}

html {
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.7em;
}

.author {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.footnotes * {
  color: darkgray;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #313131;
  letter-spacing: -.025rem;
}

h2 {
  margin-top: 1.65rem;
}

img.headshot {
  width: 150px;
  height: auto;
  border-radius: 50%;
  float: right;
  margin-left: 15px;
}

/*@font-face {
  font-family: "iosevka";
  font-weight: extralight;
  src: url("https://be5invis.github.io/Iosevka/assets/iosevka-extralight.woff2");
}

@font-face {
  font-family: "iosevka";
  font-weight: normal;
  src: url("https://be5invis.github.io/Iosevka/assets/iosevka-regular.woff2");
}

@font-face {
  font-family: "iosevka";
  font-weight: bold;
  src: url("https://be5invis.github.io/Iosevka/assets/iosevka-medium.woff2");
}*/
