
<div class="related">
  <h2>Author</h2>
  <div>
    <img class="headshot" src="/images/headshot.jpg"></img>
    <p><b>Henry Stanley</b> is a software engineer working at
      <a href="http://www.pivotal.io">Pivotal</a> on Cloud Foundry.</p>

    <p>
      He gives 10% of his income to highly effective charities working to
      <a href="http://givingwhatwecan.org">end global poverty</a> and
      <a href="http://www.animalcharityevaluators.org/">improve animal welfare</a>.
    </p>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    or get <a href="http://tinyletter.com/henrystanley">email updates</a>.</p>
  </div>
<br><br>
</div>
