<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Henry Stanley" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Henry Stanley</a>
    {% for page in site.pages %}
      {% unless page.title == "" or page.url == "/" %}
        <a class="extra" href="{{ page.url }}">{{ page.title }}</a>
      {% endunless %}
    {% endfor %}
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        {{ site.description }}
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/henryaj/">github.com/henryaj</a><br />
        <a href="http://twitter.com/henryaj/">twitter.com/henryaj</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="/feed.xml">
        <img src="/images/rss.png" height=50 width=50 alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
